body {
  background:#0e0e10;
  color:white;
  font-family:Arial;
}

.container {
  display:flex;
  gap:20px;
  padding:20px;
}

.block {
  width:33%;
  background:#18181b;
  border:1px solid #2f2f35;
  border-radius:10px;
  padding:15px;
  height:600px;
}

.participantItem {
  display:flex;
  justify-content:space-between;
  padding:8px;
  border-radius:6px;
  margin-bottom:5px;
}

.winner {
  border:2px solid yellow;
}

.chat {
  height:100%;
  overflow:auto;
}
